allow {system_file system_server} voxpopuli_file:dir {rw_file_perms search};
allow {system_file system_server} voxpopuli_file:{dir file} {rw_file_perms};
